.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7%;
}

.signin_container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.img_container{
    width: 700px;
    height: 100%;
}

.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin-left: 10%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 100%;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group input{
    padding: 2%;
    border: 2px solid #9999C3;
    margin-top: 1.5%;
    font-size: 15px;
    border-radius: 8px;
}

.search_posts input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.search_posts input:focus{
    border: 2px solid #7B8CDE;
    outline: none !important;
}

.btn{
    margin-top: 18px;
    width: 40%;
    padding: 10px;
    border: 2px solid #9999C3;
    background-color: #9999C3;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}

.btn:hover{
    background-color: #7B8CDE;
    border: 2px solid #7B8CDE;
}


.signup_link{
    margin-top: 1.5%;
}

.signup{
    text-decoration: none;
    color: #7B8CDE;
    font-size: 18px;
}

.signup:hover{
    color: gray;
    font-weight: 500;
    font-size: 18px;
}