.users_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    margin-top: 10%;
}


.users_list_group {
    color: gray;
    display: grid;
    list-style-type: none;
    width: 90vw;
    height: 92vh;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 3em;
}

.users_link{
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.header_box{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    font-size: 18px;
}

.info_box{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8%;
    margin-left: 3%;
}

.info_box p{
    margin-top: 3%;
}


.list_users{
    width: 100%;
    height: 250px;
    cursor: pointer;
    background-color: #f2f6fa;
    box-shadow:  -2px -2px 6px rgba(58, 36, 36, 0.1), 2px 2px 6px rgba(0,0,0,0.8);
    border: 1px solid #7c7c7d;
    border-radius: 10px;
    background-color: #f2f6fa;
    padding: 4% 1%;
    display: flex;
    flex-direction: column;
}

.user_profile_img{
    border-radius: 50px;
    width: 100px; 
    height: 100px; 
}