.addpost_container{
    display: flex;
    align-items: center;
    height: 92.8vh;
    flex-direction: column;
}

.addpost{
    flex-direction: column;
    background: none;
    padding: 60px;
    margin-top: 60px;
   
}

.addpost form{
    border: 1px solid #7c7c7d;
    border-radius: 10px;
    background-color: #f2f6fa;
    box-shadow:  -2px -2px 6px rgba(58, 36, 36, 0.1), 2px 2px 6px rgba(0,0,0,0.8);
    padding: 100px;
}

.addpost_container h2{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.form-group_addpost{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 900px;
    padding: 23px 0;
}

.form-group_addpost input{
    margin-bottom: -15px;
    width: 100%;
    border: none;
    
}

.form-group_addpost textarea{
    width: 100%;
    height: 100%;
    border: none;
    border: 2px solid #9999C3;
}


.form-group_addpost textarea[type=text] {
    width: 100%;
    padding: 30px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* .form-group_addpost textarea:focus{
    border: 2px solid #7B8CDE;
    outline: none !important;
} */



.form-group_addpost textarea:hover{
    border: none;
    border-bottom: 2px solid #f11616;

}


.addpost button{
    margin-top: 30px;
}

.stars_reviews{
    display: relative;
    margin-left: 380px;
    height: 40px;
    margin-top: 13px;

}


.reviews{
    width: 115px;
    margin: 10px 0;
    display: flex;

}

.reviews input{
    display: none;
}

.reviews label{
    color: #999;
    margin: 5px 0;
    padding-right: 5px;
    cursor: pointer;
    float: right;
}

.reviews input:not(:checked) ~ label:hover,
.reviews input:not(:checked) ~ label:hover ~ label{
    color: crimson;
}

.reviews input:checked ~ label{
   color: crimson; 
}
