.show_hide_comments{
    height: 30px;
    width: 180px;
    border: none;
    border-radius: 12px;
    border: 1px solid #7c7c7d;
    cursor: pointer;
}

.comments_buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 12px;
}

.comments_buttons button{
    margin-left: 10px;
    background-color: #f2f5f8;
}

.show_hide_comments:hover{
    background-color: #7B8CDE;
    color: white;
    border: none;
}



